<div class="modal-header"
	ng-init="init()"
	ng-class="{'busy-cursor': form.isGettingFoliosForUser==true}">
    <h4 class="modal-title">Edit User</h4>
</div>
<div class="modal-body" ng-class="{'busy-cursor': form.isGettingFoliosForUser==true}" ng-init="partialInitHandler()">
	<form id="edit-group-form"
		ui-keypress="{13:'ok_clickHandler()'}">
		<div class="row">
			<input
				name="name"
				type="input"
				class="required-dialog-form-input"
				ng-model="form.name"
				placeholder="User Name"
				required
				ng-minlength="1">
				<div class="required-icon">*</div>
		</div>
		<input
			name="password1"
			type="password"
			class="update-password"
			ng-model="form.password1"
			placeholder="New Password (not required)"
			required
			ng-minlength="1">
		<input
			name="password2"
			type="password"
			class="update-password"
			ng-model="form.password2"
			placeholder="Retype New Password (not required)"
			required
			ng-minlength="1">
		<input
			id="edit-group-description-input"
			name="description"
			type="input"
			ng-model="form.description"
			placeholder="Description">
		<div class="dialog-select-label">Entitle User to Folios</div>
		<div class="row row-select">
			<select
				ng-model="form.folioToAdd"
				class="dialog-add-select"
				ng-options="folio.label for folio in form.availableFolios track by folio.productId">
				<option value="" selected>Select a Folio</option>
			</select>
			<button
				class="dialog-add-button"
				ng-click="addFolio_clickHandler()"
				ng-disabled="!form.folioToAdd"><div class="plus-icon">+</div></button>
		</div>
		<select
			id="user-folios-multi-select"
			class="user-folios-multi-select dialog-multi-select"
			size="5">
		</select>
		<button
			class="dialog-remove-button"
			ng-click="removeFolio_clickHandler(true)"
			ng-disabled="!form.folioToDelete">Remove</button>

		<div class="dialog-select-label">Add User to Groups</div>
		<div class="row row-select">
			<select
				ng-model="form.groupToAdd"
				class="dialog-add-select"
				ng-options="group.name for group in form.availableGroups track by group.id">
				<option value="" selected>Select a Group</option>
			</select>
			<button
				class="dialog-add-button"
				ng-click="addGroup_clickHandler()"
				ng-disabled="!form.groupToAdd"><div class="plus-icon">+</div></button>
		</div>
		<select
			id="user-groups-multi-select"
			class="user-groups-multi-select dialog-multi-select"
			size="5">
		</select>
		<button
			class="dialog-remove-button"
			ng-click="removeGroup_clickHandler()"
			ng-disabled="!form.groupToDelete">Remove</button>
		<div class="dialog-error"
			ng-bind="form.errorMessage">
		</div>
	</form>
</div>

<div class="modal-footer" ng-class="{'busy-cursor': form.isGettingFoliosForGroup==true}">
	<button
		ng-click="cancel_clickHandler()">Cancel</button>
	<button
		class="ok-button"
		ng-click="ok_clickHandler()"
		ng-class="{'busy-cursor': form.isUploadingGroupEdit==true}">Save</button>
</div>
